@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black !important ;
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
}

nav .brand-logo {
  margin-left: 20px !important;
}

.nav-wrapper ul li a {
  text-transform: uppercase;
}

.user-description-container p:first-letter {
  text-transform: uppercase;
}
/* style for sign in and sign up component */
.card {
  height: 350px;
  width: 400px;
  margin: auto !important;
}

.inner-container {
  text-align: center;
}

.inner-container h2 {
  padding-top: 22px;
}

.input-container {
  padding: 0px 25px;
}

.input-container input[type="text"]:focus,
.input-container input[type="password"]:focus {
  border-bottom: 0.5px solid #8a42b6 !important;
  box-shadow: 0 1px 0 0 #8a42b6 !important;
}
.btn-container {
  margin-top: 30px;
}
.btn-container button {
  background-color: #6a1b9a;
}

.signupCard {
  height: 400px;
  width: 400px;
  margin: auto;
}

/* styling for profile page */

.profile-container {
  max-width: 950px;
  margin: 0 auto;
}
.profile-header {
  display: flex;
  margin-top: 25px;
}
.left-profile-pic {
  width: 20%;
}
.left-profile-pic img {
  border-radius: 75px;
  margin-top: 17px;
  margin-left: 40px;
}

.right-profile-info {
  width: 80%;
  padding-left: 100px;
}

.user-name-sec {
  display: flex;
}
.edit-profile,
.setting-icon {
  padding-top: 12px;
  padding-left: 12px;
}

.edit-profile-btn {
  background-color: transparent;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: 600;
  padding: 5px 9px;
  text-align: center;
  text-transform: inherit;
  text-overflow: ellipsis;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
}

.custom-icon {
  height: 28px;
  width: 22px;
  margin-top: 3px;
}

.gallary {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: space-between;
  padding-top: 55px;
  margin-top: 40px;
  border-top: 1px solid #dbdbdb;
}
.gallary-imgs {
  margin-bottom: 25px;
}

.gallary img {
  height: 293px;
  width: 293px;
}

.post-info ul {
  display: flex;
  padding-top: 10px;
}

.post-info ul li {
  padding-left: 15px;
}

.post-info ul li:nth-child(1) {
  margin-left: -15px;
}

.user-description-container {
  padding-top: 10px;
}

.user-description {
  padding-top: 10px;
}

/* Styling for Home card */

.home {
  margin: auto;
  max-width: fit-content;
}
.home-card {
  width: 500px;
  height: auto;
  margin-top: 30px !important;
}
.user-name-home {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.card-image {
  padding-top: 5px;
}

.option-icon {
  height: 20px;
  width: 17px;
  margin-top: 8px;
  margin-right: 8px;
}

.reaction-icons {
  display: flex;
}

.like-icon,
.comment-icon,
.share-icon {
  height: 24px;
  width: 36px;
}

.like-icon {
  margin-left: -10px;
  display: flex;
}
.comment-icon {
  padding: 2px;
}

/* styling for create post */
.create-post {
  width: 500px;
  height: auto;
  /* transform: translate(-50px, 90px);*/
  margin-top: 100px !important;
  padding: 10px 20px;
  text-align: center;
}

.upload-img {
  background-color: #6a1b9a;
}

/* Styling For Pagination */

.pagination {
  display: flex !important;
  justify-content: flex-end;
  flex-direction: row;
}

.pagination li {
  /* display: flex; */
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
}

.pagination li a {
  text-decoration: none;
  display: block;
  font-size: 14px;

  cursor: pointer;
  color: #337ab7;
  background-color: #fff;
  border-color: #ddd;

  border: 1px solid #bebbbb;
}
.pagination .customIcon {
  font-size: 10px;
}

.pagination li.active a {
  background-color: #337ab7;
  z-index: 3;
  color: #fff !important;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination li.disabled a {
  color: #777 !important;
  cursor: not-allowed !important;
}

/* Pagination Styling End Here */

/*loader*/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-position: center top;
  height: 100vh;
  position: absolute;
}

/*loader that is not used */

.pagination-container{
  display: flex;
  justify-content: space-between;
}