@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
color: black !important ;
}

.brand-logo{
  font-family: 'Grand Hotel', cursive;
}


/* style for sign in component */
.card {
  
  height: 350px;
  width: 400px;
  margin: auto;
}

.inner-container {
  text-align: center;
}

.inner-container h2 {
 padding-top: 22px;
}

.input-container{
  padding: 30px;
}

.input-container input[type=text]:focus {
  border-bottom: 0.5px solid #8a42b6 !important;
box-shadow: 0 1px 0 0 #8a42b6 !important;
}

.btn-container button{
  background-color: #6a1b9a;
}

.signupCard{
  height: 400px;
  width: 400px;
  margin: auto;
}